APP_ADMIN_DOMAIN=admin.logistra.me
APP_STOREFRONT_BASE_DOMAIN=logistra.me
APP_STOREFRONT_VERIFICATION_TARGET=logistra.me
APP_ACME_EMAIL=ops@logistra.me
APP_SECURITY_CORS_ALLOWED_ORIGINS=https://admin.logistra.me

POSTGRES_DB=inventory_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-minio
MINIO_BUCKET=inventory-products

SPRING_PROFILES_ACTIVE=deploy
SPRING_FLYWAY_VALIDATE_ON_MIGRATE=true
SERVER_PORT=8080
JAVA_OPTS=-Xms256m -Xmx1024m

APP_BOOTSTRAP_ADMIN_EMAIL=admin@example.com
APP_BOOTSTRAP_ADMIN_PASSWORD=ChangeMe123!
APP_BOOTSTRAP_ADMIN_FIRSTNAME=System
APP_BOOTSTRAP_ADMIN_LASTNAME=Admin
APP_BOOTSTRAP_ADMIN_TENANTID=default-tenant

APP_MAIL_FROM=noreply@inventory-system.com
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS_ENABLE=false
