@import "tailwindcss";

@theme {
    --color-primary: #135bec;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;

    --font-family-display: Inter, "Noto Sans Bengali", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: Inter, "Noto Sans Bengali", sans-serif;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}