@import "tailwindcss";

@theme {
    --color-primary: #135bec;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;

    --font-family-display: Inter, "Noto Sans Bengali", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: Inter, "Noto Sans Bengali", sans-serif;
}